*{
	box-sizing: border-box;
}
:root{
	--bg-color:beige;
	--white:#fff;
	--form-color:#ced4da;
	--btn-bg:#dc3545;

}
@media (min-width: 1200px)
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}
@media (min-width: 992px)
.container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
}
@media (min-width: 768px)
.container, .container-md, .container-sm {
    max-width: 720px;
}
@media (min-width: 576px)
.container, .container-sm {
    max-width: 540px;
}
@media (min-width: 1200px)
.container {
    max-width: 1140px;
}
@media (min-width: 992px)
.container {
    max-width: 960px;
}
@media (min-width: 768px)
.container {
    max-width: 720px;
}
@media (min-width: 576px)
.container {
    max-width: 540px;
}

body{
	background-color:var(--bg-color); 
}
.container{
    margin-top:3rem !important; 
    padding-bottom:1.5rem;  
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    display: block;

}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color:var(--white);
    background-clip: padding-box;
    border: 1px solid var(--form-color);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-danger {
    color:var(--white);
    background-color:var(--btn-bg);
    border-color: var(--btn-bg);
}



.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.card-content{
    margin-top:1.5rem !important; 
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color:var(--white);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.card-title{
    margin-bottom:0.75rem; 
}
.card-subtitle {
    margin-top: -.375rem;
    }
h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height:1.2;

}
h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height:1.2;
}
/* add list */
.add_container{
    margin-top: 3rem !important;

}
.form-group{
    margin-bottom:1rem; 
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}

.update_container{
    margin-top:3rem !important; 
}

/* index.html */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
 
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

/* login */

